{% extends "base_director.html" %}

{% block content %}
{% load myfilters %}

    <div class="grid grid-cols-3 gap-10">
        {% for director in directors %}
        <div class = "p-2">
            <div>
                <label class="block text-sm font-bold text-gray-700 sm:mt-px sm:pt-2">
                    First name:
                </label>
                <label class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
                    {{director.first_name}} 
                    {% if director.middle_name %}
                        {{director.middle_name}} 
                    {% endif %}
                    {{director.last_name}}
                </label>
            </div>
            <div>
                <label class="block text-sm font-bold text-gray-700 sm:mt-px sm:pt-2">
                    Phone number:
                </label>
                <label class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
                    {{director.phone_number}}
                </label>
            </div>
            <div>
                <label class="block text-sm font-bold text-gray-700 sm:mt-px sm:pt-2">
                    Birthday:
                </label>
                <label class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
                    {{director.birthdate}}
                </label>
            </div>
            <div>
                <label class="block text-sm font-bold text-gray-700 sm:mt-px sm:pt-2">
                    Website:
                </label>
                <div>
                    <a href="{{director.website}}" class="block text-sm break-words font-medium text-gray-700 sm:mt-px sm:pt-2">
                        {{director.website}}
                    </a>
                </div>
            </div>
            <div>
                <label class="block text-sm font-bold text-gray-700 sm:mt-px sm:pt-2">
                    Gender:
                </label>
                <label class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
                    {{director.gender}}
                </label>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class = "pt-2 justify-end flex">
        {% if is_paginated %}
        <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class = "bg-white border-gray-300 text-gray-500 hover:bg-gray-50 relative inline-flex items-center px-4 py-2 border text-sm font-medium"><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
        {% else %}
            <li class="bg-white border-gray-300 text-gray-500 hover:bg-gray-50 relative inline-flex items-center px-4 py-2 border text-sm font-medium"><span>&laquo;</span></li>
        {% endif %}
        {% for i in paginator.page_range %}
            {% if page_obj.number == i %}
            <li class="z-10 bg-red-50 border-red-500 text-red-600 relative inline-flex items-center px-4 py-2 border text-sm font-medium"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
            <li class = "bg-white border-gray-300 text-gray-500 hover:bg-gray-50 relative inline-flex items-center px-4 py-2 border text-sm font-medium"><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li class = "bg-white border-gray-300 text-gray-500 hover:bg-gray-50 relative inline-flex items-center px-4 py-2 border text-sm font-medium"><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
        {% else %}
            <li class="bg-white border-gray-300 text-gray-500 hover:bg-gray-50 relative inline-flex items-center px-4 py-2 border text-sm font-medium"><span>&raquo;</span></li>
        {% endif %}
        </ul>
    {% endif %}
    </div>


{% endblock content %}