{% extends "base_studio.html" %}

{% block content %}
{% load myfilters %}

<form method="post">
    {% csrf_token %}
    <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
        <label class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
          Studio Name:
        </label>
        <div class="mt-1 sm:mt-0 sm:col-span-2">
          {{form.title|addclass:"box-border border-4 border-blue-500 max-w-lg block focus:ring-indigo-500 focus:border-indigo-500 w-full shadow-sm sm:max-w-xs sm:text-sm border-gray-300 rounded-md"}}
          {{form.tille.errors}}
        </div>
        <label class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
            Website URL:
        </label>
        <div class="mt-1 sm:mt-0 sm:col-span-2">
            {{form.website|addclass:"box-border border-4 border-blue-500 max-w-lg block focus:ring-indigo-500 focus:border-indigo-500 w-full shadow-sm sm:max-w-xs sm:text-sm border-gray-300 rounded-md"}}
            {{form.website.errors}}
        </div>
    </div>


    <div class="pt-5">
        <div class="flex justify-end">
          <button type="submit" class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" value="Save">
            Save
          </button>
        </div>
      </div>
</form>
{% endblock content %}