{% extends "base_studio.html" %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    <p>Are you sure you want to delete {{studio}}?
    <div class="pt-5">
        <div class="flex justify-end gap-4">
          <button type="submit" class="ml-1 inline-flex justify-center py-2 px-5 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" value="Save">
            Delete
          </button>
          <button type="button" class="bg-white py-2 px-6 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" id="add_more">
            Cancel
          </button>
        </div>
      </div>

  </form>
{% endblock %}